name: Pipeline CD (Deploy Continuo)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH na AWS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.AWS_HOST }}
          username: "ec2-user"
          key: ${{ secrets.AWS_KEY }}
          script: |
            # Se não existir, clona o projeto
            if [ ! -d "cesusc-devops" ]; then
              git clone https://github.com/Matheusmmelo/cesusc-devops.git
            fi

            cd cesusc-devops

            # Garante que está na main
            git checkout main
            git pull origin main

            # Instala dependências
            npm install

            # Instala o PM2 caso não exista
            npm install -g pm2

            # Reinicia ou inicia a aplicação
            pm2 restart app-backend || pm2 start src/server.js --name "app-backend"
